[submodule "podcast-player"]
	path = podcast-player
	url = /Users/Gary/Documents/side_projects/react-podcast/client/podcast-player
[submodule "clients"]
	path = clients
	url = /Users/Gary/Documents/side_projects/react-podcast/client/podcast-player
[submodule "player"]
	path = player
	url = /Users/Gary/Documents/side_projects/react-podcast/client/podcast-player
